In [3]:
import numpy as np
import pandas as pd
import requests 
from plyer import notification

In [4]:
def alerta(nivel, dado):
    
    # Condicional para nível do alerta
    if nivel == 400:
        msg_alerta = 'Bad Request'
    elif nivel == 401:
        msg_alerta = 'Unauthorized'
    elif nivel == 403:
        msg_alerta = 'Forbidden'
    elif nivel == 404:
        msg_alerta = 'Not Found'
    elif nivel == 409:
        msg_alerta = 'Conflict'                   
    else:
        msg_alerta = f'Error {nivel}'

    # Mensagem de alerta
    texto = f'Falha no carregamento do {dado}'

     # Gerando o alerta
    notification.notify ( 
        title = msg_alerta,
        message = texto,
        app_name='App Fictício',
        timeout=10  
    )

## Base CEP

In [5]:
ceps = ['41720060', '09715022', '22222222']
# url = f'https://brasilapi.com.br/api/cep/v1/{ceps}'
responses = list()
for cep in ceps:
    url = f'https://brasilapi.com.br/api/cep/v1/{cep}'
    response = requests.get(url,verify=False)
    responses.append(response)

ceps [0]

C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

'41720060'

In [7]:
df_full = pd.DataFrame(
    {
        'CEP': [np.nan],
        'Estado': [np.nan],
        'Cidade': [np.nan],
        'Bairro': [np.nan],
        'Rua': [np.nan],
        'Serviço': [np.nan],
    }
)
for n in range(len(responses)):
    ## PARSE
    if responses[n].status_code == 200:
        data = responses[n].json()
        df = pd.DataFrame(
            {
                'CEP': [data['cep']],
                'Estado': [data['state']],
                'Cidade': [data['city']],
                'Bairro': [data['neighborhood']],
                'Rua': [data['street']],
                'Serviço': [data['service']],
            }
        )
        df_full = pd.concat([df_full, df])
    else:
        #data = responses[n].json()
        nivel = responses[n].status_code
        dado= f'CEP: {ceps[n]}'
        alerta(nivel, dado)

df_full = df_full.dropna()

TabelaCEP=pd.DataFrame(df_full)
TabelaCEP

,CEP,Estado,Cidade,Bairro,Rua,Serviço
0,41720060,BA,Salvador,Imbuí,Rua dos Colibris,open-cep
0,09715022,SP,São Bernardo do Campo,Centro,Rua Américo Brasiliense,open-cep

## Base Banco

In [14]:
#Pegando amostras de bancos
urlt = 'https://brasilapi.com.br/api/banks/v1'
bancos = requests.get(urlt,verify=False)
bancos_data= bancos.json()
pd.DataFrame(bancos_data).head(5)

C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

In [15]:
codes = ['1', '70', '98999']
responses2 = list()
for code in codes:
    url = f'https://brasilapi.com.br/api/banks/v1/{code}'
    response2 = requests.get(url,verify=False)
    responses2.append(response2)

responses2
codes[1]

C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

'70'

In [16]:
df2_full = pd.DataFrame(
    {
        'ISPB': [np.nan],
        'Nome': [np.nan],
        'Código': [np.nan],
        'Nome completo': [np.nan],
    }
)
for n in range(len(responses2)):
    ## PARSE
    if responses2[n].status_code == 200:
        data2 = responses2[n].json()
        df2 = pd.DataFrame(
            {
                'ISPB': [data2['ispb']],
                'Nome': [data2['name']],
                'Código': [data2['code']],
                'Nome completo': [data2['fullName']],                               
            }
        )
        df2_full = pd.concat([df2_full, df2])
    else:
        nivel = responses2[n].status_code
        dado= f'Código: {codes[n]}'
        alerta(nivel, dado)

df2_full = df2_full.dropna()

TabelaBanco=pd.DataFrame(df2_full)
TabelaBanco

       ISPB                        Nome  Código                 Nome completo
0  00000000          BCO DO BRASIL S.A.     1.0          Banco do Brasil S.A.
0  00000208  BRB - BCO DE BRASILIA S.A.    70.0  BRB - BANCO DE BRASILIA S.A.

## Base CNPJ

In [19]:
cnpjs = ['33041260065290', '47960950000121', '22222222']
responses3 = list()
for cnpj in cnpjs:
    url = f'https://brasilapi.com.br/api/cnpj/v1/{cnpj}'
    response3 = requests.get(url,verify=False)
    responses3.append(response3)

#VERIFIQUEI AS COLUNAS NA AMOSTRA APRESENTADA NO SITE

C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
C:\Users\A0116002\AppData\Roaming\Python\Python312\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'brasilapi.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [85]:
responses3

In [20]:
df3_full = pd.DataFrame(
    {
        'CNPJ': [np.nan],
        'Razão Social': [np.nan],
        'Nome Fantasia': [np.nan],
        'CEP': [np.nan],
        'Telefone': [np.nan],
    }
)
for n in range(len(responses3)):
    ## PARSE
    if responses3[n].status_code == 200:
        data3 = responses3[n].json()
        df3 = pd.DataFrame(
            {
                'CNPJ': [data3['cnpj']],
                'Razão Social': [data3['razao_social']],
                'Nome Fantasia': [data3['nome_fantasia']],
                'CEP': [data3['cep']], 
                'Telefone': [data3['ddd_telefone_1']],                            
            }
        )
        df3_full = pd.concat([df3_full, df3])
    else:
        nivel = responses3[n].status_code
        dado= f'Código: {cnpjs[n]}'
        alerta(nivel, dado)

df3_full = df3_full.dropna()

TabelaCNPJ=pd.DataFrame(df3_full)
TabelaCNPJ

,CNPJ,Razão Social,Nome Fantasia,CEP,Telefone
0,33041260065290,GRUPO CASAS BAHIA S.A.,,05425070,1142256555
0,47960950000121,MAGAZINE LUIZA S/A,MAGAZINE LUIZA,14400490,1637112002

## Banco de Dados

In [9]:
import sqlite3
def tabelas_bd():
    '''
        Retorna um dataframe com as tabelas do banco de dados.
    '''
    conn = sqlite3.connect('coderhouse.db')

    # Executar uma consulta que retorna as informações do esquema do banco de dados
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    schema = pd.read_sql_query(query, conn)

    conn.close()

    return schema
def salva_bd(df, nome_tabela):
    '''
        Salva dataframe df na tabela nome_tabela.
    '''
    conn = sqlite3.connect('coderhouse.db')

    # Escrever o DataFrame na tabela 'nome_tabela'
    df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

    conn.close()

    return True
def carrega_bd(nome_tabela):
    '''
        Carrega tabela nome_tabela num dataframe. 
    '''
    conn = sqlite3.connect('coderhouse.db')

    # Executar uma consulta SELECT na tabela 'produtos' e converter em um DataFrame
    query = f"SELECT * FROM {nome_tabela}"
    df = pd.read_sql(query, conn)

    conn.close()

    return df

In [23]:
## Salvando Tabela CEP no Banco de Dados

nome_tabela = 'TabelaCEP'
salva_bd(TabelaCEP, nome_tabela)
carrega_bd(nome_tabela)

,CEP,Estado,Cidade,Bairro,Rua,Serviço
0,41720060,BA,Salvador,Imbuí,Rua dos Colibris,open-cep
1,09715022,SP,São Bernardo do Campo,Centro,Rua Américo Brasiliense,open-cep

In [24]:
## Salvando Tabela Banco no Banco de Dados

nome_tabela = 'TabelaBanco'
salva_bd(TabelaBanco, nome_tabela)
carrega_bd(nome_tabela)

       ISPB                        Nome  Código                 Nome completo
0  00000000          BCO DO BRASIL S.A.     1.0          Banco do Brasil S.A.
1  00000208  BRB - BCO DE BRASILIA S.A.    70.0  BRB - BANCO DE BRASILIA S.A.

In [25]:
## Salvando Tabela CNPJ no Banco de Dados

nome_tabela = 'TabelaCNPJ'
salva_bd(TabelaCNPJ, nome_tabela)
carrega_bd(nome_tabela)

,CNPJ,Razão Social,Nome Fantasia,CEP,Telefone
0,33041260065290,GRUPO CASAS BAHIA S.A.,,05425070,1142256555
1,47960950000121,MAGAZINE LUIZA S/A,MAGAZINE LUIZA,14400490,1637112002

In [26]:
tabelas_bd()

              name
0         produtos
1         fastfood
2      Nova_Tabela
3  Tabela_FastFood
4            Teste
5        TabelaCEP
6      TabelaBanco
7       TabelaCNPJ